In [3]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.32-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----- ---------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 10.6 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.32
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd 
from sqlalchemy import create_engine

In [13]:
conn_string = 'mysql://root:mywork%40281022@localhost/painting'
db = create_engine(conn_string)
conn =  db.connect()

In [16]:
df = pd.read_csv('artist.csv')
df.head(2)

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889

In [17]:
df.shape

(421, 9)

In [26]:
df.to_sql('artist', con = conn , if_exists = 'replace', index = False)

200

In [35]:
# Create connection string
conn_string = 'mysql://root:mywork%40281022@localhost/painting'
db = create_engine(conn_string)
conn  = db.connect()
# Load your dataset (assuming it's a DataFrame)
df = pd.read_csv('artist.csv')
# Transfer dataset to MySQL
df.to_sql('artist.csv', con=conn, if_exists='replace', index=False)

421

In [ ]:
import pandas as pd 
from sqlalchemy import create_engine

In [46]:
conn_string = 'mysql://root:mywork%40281022@localhost/painting'
db = create_engine(conn_string)
conn = db.connect()

df = pd.read_csv('canvas_size.csv')
df.to_sql('canvas_size', con = conn , if_exists = 'replace', index = False)

200

In [45]:
conn_string = 'mysql://root:mywork%40281022@localhost/painting'
db = create_engine(conn_string)
conn = db.connect()

df = pd.read_csv('image_link.csv')
df.to_sql('image_link', con = conn , if_exists = 'replace', index = False)

14775

In [50]:
conn_string = 'mysql://root:mywork%40281022@localhost/painting'
db = create_engine(conn_string)
conn = db.connect()

files =('museum_hours', 'museum','product_size','subject','work')
for file in files:
    df = pd.read_csv(f'{file}.csv')
    df.to_sql(file, con = conn , if_exists='replace', index=False)